<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075668605928-k60e56btfoffu4lf1ll7ras5pan7cas1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075668605928-k60e56btfoffu4lf1ll7ras5pan7cas1</string>
	<key>API_KEY</key>
	<string>AIzaSyAH-FIj1fvXgriJFxqiCDSZSIc01Qf8-RE</string>
	<key>GCM_SENDER_ID</key>
	<string>1075668605928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xamarin.hellomultiscreeniphone1</string>
	<key>PROJECT_ID</key>
	<string>str1-a9b46</string>
	<key>STORAGE_BUCKET</key>
	<string>str1-a9b46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075668605928:ios:4e7a7ed0e51ef2aa49625d</string>
</dict>
</plist>