<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.hellomultiscreeniphone1</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleDisplayName</key>
	<string>Create Your Story Cloud</string>
	<key>UILaunchStoryboardName</key>
	<string>Screens/HomeScreen</string>
	<key>UIMainNibFile</key>
	<string>HomeScreen</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow device to access Camera</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allow device to access Media</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow device to access Photo</string>
	<key>CFBundleShortVersionString</key>
	<string>70</string>
	<key>CFBundleVersion</key>
	<string>70</string>
</dict>
</plist>
